{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<h1>Connexion</h1>

{% if error %}<div class="error">{{ error }}</div>{% endif %}

<form method="POST">
    <label>Pseudo</label>
    <input type="text" name="username" required>
    <label>Mot de passe</label>
    <input type="password" name="password" required>
    <br><br>
    <button type="submit" class="btn">Se connecter</button>
</form>

<hr>
<p><small>Comptes de test : marie / mariepwd, paul / paulpwd, admin / adminpwd</small></p>
{% endblock %}